body {
    padding: 50px;
}
.city-el {
    position: relative;
    padding: 25px;
}
.city-el:hover .city-close {
    opacity: 1;
}
.city-close {
    position: absolute;
    color: red;
    top: 10px;
    right: 10px;
    opacity: 0;
    cursor: pointer;
}

.city-temp {
    font-size: 32px;
}

.city-name {
    font-size: 18px;
}